<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        </staticContent>
        <!-- todo: 也许应该过滤掉静态文件 -->
        <rewrite>
            <rules>
                <rule name="Main Rule" stopProcessing="true">
                      <match url="^(?:(?!api).)+" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="Default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>